<!DOCTYPE html>
<html>
<head>
	<title>Binding</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div ng-app ng-controller="StudentListController">

	<ul >
		<li ng-repeat="student in students">
			<a href="/student/view/{{student.id}}">{{student.name}}</a>
		</li>
	</ul>
	<button ng-click="insertTom()">Insert</button>

</div>
<script src="../angular.min.js"></script>
<script>
	var students = [
		{name: 'Mary Contrary', id: '1'},
		{name: 'Jack Sprat', id: '2'},
		{name: 'Jill Hill', id: '3'},
	];
	function StudentListController($scope) {
		$scope.students = students;

		$scope.insertTom = function(){
			$scope.students.splice(1, 0, {name: 'Tom Thumb', id: '4'});
		}
	}
</script>
</body>
</html>