<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		.menu-disabled-true{
			color: red;
		}
	</style>
</head>
<body>
<div ng-app>

	<div ng-controller="DeathrayMenuController">
		<button ng-click="toggleMenu()">Toggle menu</button>
		<ul ng-show="menuState.show">
			<li class="menu-disabled-{{isDisabled}}" ng-click="stun()">Stun</li>
			<li ng-click="disintegrate()">Disitegrate</li>
			<li ng-click="erase()">Erase from history</li>
		</ul>
	</div>

</div>
<script src="../angular.min.js"></script>
<script>
	function DeathrayMenuController($scope) {
		$scope.menuState = {show:false};
		$scope.isDisabled = false;

		$scope.toggleMenu = function(){
			$scope.menuState.show = !$scope.menuState.show;
		}

		$scope.stun = function(){
			$scope.isDisabled = true;
		}
	}
</script>
</body>
</html>